@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root{
    --primary-color: #6b7db3;
    --primary-color-dark: #6bb3b3;
    --secondary-color: rgb(212, 182, 11);
    --text-dark: #242d49;
    --text-light: #384468;
    --extra-light: white;
    --max-width: #1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.cont{
    max-width: var(--max-width);
    margin: center;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeff3;
}

nav .logo a{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--primary-color);
    transition: 0.3s;
    padding-left: 3rem;

}

nav .logo a:hover{
    color: var(--primary-color-dark);
}

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    margin-left: 15%;
    font-size: 1.3rem;
    padding-right: 2rem;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.section1{
    background-color: var(--extra-light);
}

.scont{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 15% 10% ;
}

.sub{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-top: 5rem;
    font-size: x-large;
}

.title{
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span{
    font-weight: 600;
    color: var(--primary-color);
}

.description{
    line-height: 1.6rem;
    color: var(--text-light);
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.act_btn{
    display: flex;
    gap: 1rem;
}

.act_btn button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border-radius: 0.3s;
    cursor: pointer;
}

.proceed{
    background-color: var(--primary-color);
    color: #ffffff;
}

.proceed:hover{
    background-color: var(--primary-color-dark);
}

.back{
    color: var(--primary-color);
}

.back:hover{
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

.image{
    display: grid;
    place-items: center;
    margin: 20% 10% 10% ;
}


.image img{
    width: min(25rem, 90%);
    border-radius: 100%;

}

.t1{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1rem;
    color: var(--text-dark);
    text-align: center;
    margin: 5%;
}

.t1 span{
    font-weight: 600;
    color: var(--primary-color);
}

.educ, .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 5%;
}

.container{
    display: flex;
    justify-content: center; 
    gap: 2rem; 
    margin: 0 auto;
    width: 80%;
    padding-left: 5%;
}

.pers-info, .fam-back, .elem, .high {
    width: 48%; 
    margin: 0 auto;
}

.pers-info h2, .fam-back h2, .elem h2, .high h2 {
    font-weight: 550;
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: start;
}

.pers-info p, .fam-back p, .elem p, .high p {
    line-height: 1.5rem;
    color: var(--text-light);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: start;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-content{
    margin: 10%;
    background-color: white;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--text-dark);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;

    line-height: 1.5rem;
    color: #182244;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
    border-radius: 3%;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover:before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-dark);
}

.skills-content .progress .bar {
    height: 2.6rem;
    border-radius: .6rem;
    border: .2rem solid var(--text-dark);
    padding: .5rem;
    margin: .5rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--secondary-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}


.alb-grid {
    display: flex;                
    flex-wrap: wrap;              
    gap: 3rem;                     
    justify-content: center;
    margin-top: 8%;
    
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto
}

.alb-card{
    width: calc(33.333% - 2rem);      
    margin-bottom: .01rem;              
    box-sizing: border-box; 
}

.photo-image{
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 20px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-image:hover{
    transform: scale(1.05); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    grid-template-columns: repeat(2, 1fr);

}

.contact-contain {
    display: flex;
    background-color: var(--extra-light);
    width: 100%;
    max-width: var(--max-width);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem auto;
}

.contact-information, .contacts-form {
    padding: 20px;
    flex: 1;
}

.contact-information {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    padding-left:4%;
}

.contact-information h2 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.contact-information p {
    color: #f0f0f0;
    margin-top: 10px;
}

.information p {
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-left: 10%;
    padding-top: 3%;
}

.information i {
    margin-right: 10px;
    color: var(--secondary-color);
}

.social-media {
    padding-top: 10px;

}

.social-icons {
    display: flex; 
    gap: 10px; 
}

.social-icons a {
    width: 40px; 
    height: 40px; 
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.social-icons a:hover {
    background-color: var(--primary-color-dark);
}

.contacts-form {
    background-color: #ffffff;
    color: var(--text-dark);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.contacts-form h2 {
    margin: 0;
    font-size: 24px;
    color: var(--primary-color);
}

.contacts-form form {
    display: flex;
    flex-direction: column;
}

.contacts-form input, .contacts-form textarea {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.contacts-form input:focus, .contacts-form textarea:focus {
    border-color: var(--secondary-color);
}

.contacts-form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contacts-form button:hover {
    background-color: var(--primary-color-dark);
}


@media (width<750px){
    nav .checkbox{
        display: block;
    }

    ul{
        position: absolute;
        width: 100%;
        height: auto;
        left: 90%;
        top: 83px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        transition: left 0.3s ease-in-out;
        margin-left: 0%;
    }

    nav #check:checked ~ ul {
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
        color: var(--text-dark);
    }

    .scont,
    .info,
    .educ,
    .skills,
    .contact {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
    }

    .act_btn{
        margin: auto;

        flex-direction: column;
        gap: 1rem;
    }

    .alb-card {
        width: 100%;
        text-align: center;
    }

    .contacts-form {
        padding: 2rem;
    }
}